body{
  box-sizing: border-box;
  color: #383531;
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  padding: 0 auto;
}

.c-head{
  margin: 40px auto 50px;
}

.f-head{
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

.c-empInfo{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.f-empInfo {
  text-align: center;
}

.s-empInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.c-indiv{
  max-width: 220px;
  margin: 4px;
}

.f-indiv{
  text-align: center;
}

.s-indiv{
  /*background: pink;*/
}

.empImg{
  width: 100%;
  max-height: 240px;
}

.empName{
  border-bottom: solid 1.5px #9dd67a;
  display: inline-block;
  font-size: 17.5px;
  margin: 14px auto 10px;
  text-transform: uppercase;

}

.empEmail{
  color: #d1d1d1;
  font-family: 'Century Gothic', sans-serif;
  font-size: 13px;
  margin: 2px 0 22px;
  text-transform: uppercase;
}

.empLocation{
  color: #969a9b;
  font-family: 'Century Gothic', sans-serif;
  font-size: 13px;
  margin: 6px auto;
  text-transform: capitalize;
}

.empSSN{
  color: transparent;
  font-size: 14px;
  margin: 25px 0 60px 0;
  text-shadow: 0 0 20px rgba(100,100,100,0.6);
}

/* NOTE: Blurred text */
.empSSN:hover{
  color: #9dd67a;
  text-shadow: 0 0 0 rgba(256,256,256,0);
}
